body{
    background-color: #f2f6f9;
}
.main{
    border:solid 1px #d9d8db;
    color:#4b4b4b;
    background-color: white;
}

.fa{
    color:#438aca;
}
.bottom{
    background-color:#f4f4f4;
}
button{
    border:none;
    background-color: #438aca;
    color: white;
    border-radius: 5px;
}
a{
    text-decoration: none;
}